
.about-us{

    height: 100vh;
    width: 100%;
    background: gray;
    padding: 50px 0px 50px 0px;
    /* margin: 50px 0px 50px 0px; */

}
.about{

    color: aliceblue;
    padding: 230px 0px 0px 100px;
    font-size: 100px;
    position: relative;
    
    
    
}
.disc{

    width: 600px;
    margin-left: 500px;     
    margin-top: -250px;     
    font-size: 20px;
    padding-left: 200px;    
    /* border: 1px solid red;  */
    color:white ;
    letter-spacing: 2px;
    word-spacing: 3px;
    /* background: #000; */
    border-radius: 40px;
    
}