

.card-div {
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgba(198,178,76,1) 53%, rgba(157,131,117,1) 71%, rgb(124, 174, 184) 100%);
}


.card {
margin-left: 180px;
/* padding-top: 0px; */
border-radius: 50px;
background: rgb(88, 81, 226);
background: linear-gradient(90deg, rgb(99, 93, 216) 20%, rgba(3, 97, 209, 1) 41%, rgba(0, 212, 255, 1) 100%);

}

 h5 { 
margin-left: 380px;
font-size: 40px;

} 

#img {
display: inline-block;
margin-left: 130px;
width: 20%;
margin-top: 40px;
}

#li {
list-style: none;
font-weight: bold;

}
